<div id="sub-nav" class="js-sidenav nav-container" role="navigation">
  <a class="sidenav-title" data-behavior="SubMenuMobile">
    Doc Index
  </a>
  <div class="nav-content">
    <ul>
      <li class="has_submenu">
        <a id='home-nav-link' href="/p-cloud-cache/1-8/index.html">Pivotal Cloud Cache</a>
        <ul>
          <li>
            <a href="/p-cloud-cache/1-8/product-snapshot.html">Product Snapshot</a>
          </li>
          <li>
            <a href="/p-cloud-cache/1-8/on-demand-services.html">PCC and Other PCF Services</a>
          </li>
         <li class="has_submenu">
            <a href="/p-cloud-cache/1-8/architecture.html">PCC Architecture</a>
            <ul>
              <li>
                <a href="/p-cloud-cache/1-8/architecture.html#GFBasics">GemFire Basics</a>
              </li>
              <li>
                <a href="/p-cloud-cache/1-8/architecture.html#pcc-cluster-architecture">The PCC Cluster</a>
              </li>
              <li>
                <a href="/p-cloud-cache/1-8/architecture.html#MemberCommunication">Member Communication</a>
                </li>
              </ul>
          </li>
          <li>
            <a href="/p-cloud-cache/1-8/usage.html">Recommended Usage and Limitations</a>
          </li>
          <li>
            <a href="/p-cloud-cache/1-8/security.html">Security</a>
          </li>
        </ul>
      </li>

      <li class="has_submenu">
        <a href="/p-cloud-cache/1-8/operator.html">Operator Guide</a>
        <ul>
          <li class="has_submenu">
            <a href="/p-cloud-cache/1-8/prepare-for-installation.html">Preparing for Installation</a>
          <ul>
            <li>
              <a href="/p-cloud-cache/1-8/on-demand-networking.html">Networking for On-Demand Services</a>
            </li>
            <li>
              <a href="/p-cloud-cache/1-8/prepare-TLS.html">Preparing for TLS</a>
            </li>
            <li>
              <a href="/p-cloud-cache/1-8/create-UAA-client.html">Create a UAA Client</a>
            </li>
          </ul>
          </li>
          <li class="has_submenu">
              <a href="/p-cloud-cache/1-8/install-configure.html">Installing and Configuring Pivotal Cloud Cache</a>
              <ul>
                <li>
                <a href="/p-cloud-cache/1-8/install-configure.html#settings-config">Configure Tile Properties</a>
                </li>
              </ul>
          </li>
          <li>
            <a href="/p-cloud-cache/1-8/UAA-config.html">Configuring UAA Roles</a>
          </li>
          <li>
            <a href="/p-cloud-cache/1-8/set-quotas.html">Setting Service Instance Quotas</a>
          </li>
          <li class="has_submenu">
            <a href="/p-cloud-cache/1-8/monitoring.html">Monitoring Pivotal Cloud Cache Service Instances</a>
              <ul>
                <li>
                <a href="/p-cloud-cache/1-8/monitoring.html#service-instance-metrics">Service Instance Metrics</a>
                </li>
                <li>
                <a href="/p-cloud-cache/1-8/monitoring.html#per-member-metrics">Per Member Metrics</a>
                </li>
                <li>
                <a href="/p-cloud-cache/1-8/monitoring.html#gateway-sender-metrics">Gateway Sender and Gateway Receiver Metrics</a>
                </li>
                <li>
                <a href="/p-cloud-cache/1-8/monitoring.html#disk-metrics">Disk Metrics</a>
                </li>
                <li>
                <a href="/p-cloud-cache/1-8/monitoring.html#bosh-errand-report">Total Memory Consumption</a>
                </li>
                <li>
                <a href="/p-cloud-cache/1-8/monitoring.html#monitoring-prometheus">Monitoring PCC Service Instances with Prometheus</a>
                </li>
              </ul>
          </li>  
          <li>
            <a href="/p-cloud-cache/1-8/upgrade.html">Upgrading Pivotal Cloud Cache</a>
          </li>
          <li>
            <a href="/p-cloud-cache/1-8/migrate-to-TLS.html">Migrating to a TLS-Enabled Cluster</a>
          </li>
          <li>
            <a href="/p-cloud-cache/1-8/update-plan.html">Updating Pivotal Cloud Cache Plans</a>
          </li>
          <li>
            <a href="/p-cloud-cache/1-8/uninstall.html">Uninstalling Pivotal Cloud Cache</a>
          </li>
          </ul>
        </li>
      <li class="has_submenu">
        <a href="/p-cloud-cache/1-8/developer.html">Developer Guide</a>
        <ul>
          <li>
            <a href="/p-cloud-cache/1-8/view-plans.html">Viewing All Plans Available for Pivotal Cloud Cache</a>
          </li>
          <li class="has_submenu">
            <a href="/p-cloud-cache/1-8/create-instance.html">Creating a Pivotal Cloud Cache Service Instance</a>
            <ul>
              <li>
                <a href="/p-cloud-cache/1-8/create-instance.html#params">Provide Optional Parameters</a>
              </li>
              <li>
                <a href="/p-cloud-cache/1-8/create-instance.html#ssc">Enable Session State Caching with the Java Buildpack</a>
              </li>
              <li>
                <a href="/p-cloud-cache/1-8/create-instance.html#ssc-spring-session">Enable Session State Caching Using Spring Session</a>
              </li>
              <li>
                <a href="/p-cloud-cache/1-8/create-instance.html#service-instance-dev-plan">Dev Plans</a>
              </li>
            </ul>
          </li>
          <li class="has_submenu">
            <a href="/p-cloud-cache/1-8/WAN-setup.html">Set Up WAN-Separated Service Instances</a>
            <ul>
              <li>
                <a href="/p-cloud-cache/1-8/WAN-bi-setup.html">Set Up a Bidirectional System</a>
              </li>
              <li>
                <a href="/p-cloud-cache/1-8/WAN-uni-setup.html">Set Up a Unidirectional System</a>
              </li>
              <li>
                <a href="/p-cloud-cache/1-8/WAN-addl-bi-setup.html">Set Up an Additional Bidirectional Interaction</a>
              </li>
              <li>
                <a href="/p-cloud-cache/1-8/WAN-addl-uni-setup.html">Set Up an Additional Unidirectional Interaction</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="/p-cloud-cache/1-8/inline-setup.html">Setting Up Servers for an Inline Cache</a>
          </li>
          <li>
            <a href="/p-cloud-cache/1-8/delete-instance.html">Deleting a Service Instance</a>
          </li>
          <li class="has_submenu">
            <a href="/p-cloud-cache/1-8/update-instance.html">Updating a Pivotal Cloud Cache Service Instance</a>
            <ul>
              <li>
                <a href="/p-cloud-cache/1-8/update-instance.html#cluster-rebalancing">Rebalancing a Cluster</a>
              </li>
              <li>
                <a href="/p-cloud-cache/1-8/update-instance.html#cluster-restart">Restarting a Cluster</a>
              </li>
              <li>
                <a href="/p-cloud-cache/1-8/update-instance.html#plan-updates">About Changes to the Service Plan</a>
              </li>
            </ul>
          <li>
            <a href="/p-cloud-cache/1-8/permitted-gfsh.html">gfsh Command Restrictions</a>
          </li>
          <li class="has_submenu">
            <a href="/p-cloud-cache/1-8/accessing-instance.html">Accessing a Service Instance</a>
            <ul>
              <li>
                <a href="/p-cloud-cache/1-8/accessing-instance.html#create-service-key">Create Service Keys</a>
              </li>
              <li>
                <a href="/p-cloud-cache/1-8/accessing-instance.html#gfsh-connect-https">Connect with gfsh over HTTPS</a>
              </li>
              <li>
                <a href="/p-cloud-cache/1-8/accessing-instance.html#tls-termination">Determine Your TLS Termination</a>
              </li>
            </ul>
          </li>
          <li class="has_submenu">
            <a href="/p-cloud-cache/1-8/using-pcc.html">Using Pivotal Cloud Cache</a>
            <ul>
              <li>
                <a href="/p-cloud-cache/1-8/using-pcc.html#create-regions">Create Regions with gfsh</a>
              </li>
              <li>
                <a href="/p-cloud-cache/1-8/using-pcc.html#disk-stores">Working with Disk Stores</a>
              </li>
              <li>
                <a href="/p-cloud-cache/1-8/using-pcc.html#java-build-pack-requirement">Java Build Pack Requirements</a>
              </li>         
              <li>
                <a href="/p-cloud-cache/1-8/using-pcc.html#bind-service">Bind an App to a Service Instance</a>
              </li>         
              <li>
                <a href="/p-cloud-cache/1-8/using-pcc.html#pulse">Use the Pulse Dashboard</a>
              </li>
              <li>
                <a href="/p-cloud-cache/1-8/using-pcc.html#nozzle">Access Service Metrics</a>
              </li>
              <li>
                <a href="/p-cloud-cache/1-8/using-pcc.html#nozzle-service-metrics">Access Service Broker Metrics</a>
              </li>
              <li>
                <a href="/p-cloud-cache/1-8/using-pcc.html#exporting_logs">Export gfsh Logs</a>
              </li>
              <li>
                <a href="/p-cloud-cache/1-8/using-pcc.html#deploy-app-jars">Deploy an App JAR File to the Servers</a>
              </li>
              <li>
                <a href="/p-cloud-cache/1-8/using-pcc.html#use-GGC">Use the GemFire-Greenplum Connector</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="/p-cloud-cache/1-8/gfsh-scripting.html">Scripting Common Operations</a>
          </li>
          <li>
            <a href="/p-cloud-cache/1-8/tls-enabled-app.html">Developing an App Under TLS</a>
          </li>
          <li class="has_submenu">
            <a href="/p-cloud-cache/1-8/Spring-SessionState.html">Connecting a Spring Boot App to Pivotal Cloud Cache with Session State Caching</a>
            <ul>
              <li>
                <a href="/p-cloud-cache/1-8/Spring-SessionState.html#tomcat">Use the Tomcat App</a>
              </li>
              <li>
                <a href="/p-cloud-cache/1-8/Spring-SessionState.html#spring-session">Use a Spring Session Data GemFire App</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="/p-cloud-cache/1-8/Spring-CQs.html">Creating Continuous Queries Using Spring Data GemFire</a>
          </li>
        </ul>
      </li>
    <li class="has_submenu">
        <a href="/p-cloud-cache/1-8/app-development.html">Application Development</a>
        <ul>
        <li class="has_submenu">
        <a href="/p-cloud-cache/1-8/design-patterns.html">Design Patterns</a>
          <ul>
            <li><a href="/p-cloud-cache/1-8/design-patterns.html#inline-cache">The Inline Cache</a></li>
            <li><a href="/p-cloud-cache/1-8/design-patterns.html#lookaside-cache">The Look-Aside Cache</a></li>
            <li><a href="/p-cloud-cache/1-8/design-patterns.html#active-active-WAN-pattern">Bidirectional Replication Across a WAN</a></li>
            <li><a href="/p-cloud-cache/1-8/design-patterns.html#WAN-pattern">Blue-Green Disaster Recovery</a></li>
            <li><a href="/p-cloud-cache/1-8/design-patterns.html#CQRS-WAN-pattern">CQRS Pattern Across a WAN</a></li>
            <li><a href="/p-cloud-cache/1-8/design-patterns.html#hub-spoke-pattern">Hub-and-Spoke Topology with WAN Replication</a></li>
            <li><a href="/p-cloud-cache/1-8/design-patterns.html#follow-the-sun-pattern">Follow-the-Sun Pattern</a></li>
          </ul> 
        </li>
        <li class="has_submenu">
        <a href="/p-cloud-cache/1-8/region-design.html">Region Design</a>
          <ul>
            <li><a href="/p-cloud-cache/1-8/region-design.html#keys">Keys</a></li>
            <li><a href="/p-cloud-cache/1-8/region-design.html#partitioned-regions">Partitioned Regions</a></li>
            <li><a href="/p-cloud-cache/1-8/region-design.html#replicated-regions">Replicated Regions</a></li>
            <li><a href="/p-cloud-cache/1-8/region-design.html#persistent-regions">Persistence</a></li>
            <li><a href="/p-cloud-cache/1-8/region-design.html#overflow">Overflow</a></li>
            <li><a href="/p-cloud-cache/1-8/region-design.html#app-regions">Regions as Used by the App</a></li>
            <li><a href="/p-cloud-cache/1-8/region-design.html#region-design-example">An Example to Demonstrate Region Design</a></li>
          </ul> 
        </li>  
        <li class="has_submenu">
          <a href="/p-cloud-cache/1-8/events.html">Handling Events</a>
          <ul>
            <li><a href="/p-cloud-cache/1-8/events.html#continuous-queries">Continuous Queries</a></li>
          </ul>
        </li>
        <li class="has_submenu">
          <a href="/p-cloud-cache/1-8/example-applications.html">Example Applications</a>
          <ul>    
            <li><a href="/p-cloud-cache/1-8/use-sample-app.html">A Simple Java App</a></li> 
            <li><a href="/p-cloud-cache/1-8/SBapp1.html">A Spring Boot App</a></li>
          </ul>    
        </li> 
        <li class="has_submenu">
          <a href="/p-cloud-cache/1-8/session-caching.html">HTTP Session State Caching</a>
          <ul>
            <li><a href="/p-cloud-cache/1-8/session-caching.html#disable-nearcaching">Disable Caching within the App</a></li> 
          <ul>
        </li>
        </ul>    
    </li>
    <li>
    <a href="/p-cloud-cache/1-8/troubleshooting.html">Troubleshooting</a>
    </li>
    <li>
    <a href="/p-cloud-cache/1-8/release-notes.html">Release Notes</a>
    </li>
    </ul>
  </div>
</div><!--end of sub-nav-->
